<section class="hero py-16">
  <div class="container mx-auto flex items-center justify-between">
      <div class="w-1/2 mr-24 ml-6">
          <h6 class="text-lg"><em> Are you hungry ?</em></h6>
          <h1 class="text-6xl">Don't Wait!</h1>
          <button class="btn-primary px-6 py-2 rounded-full text-white font-bold mt-4">Order now </button>
      </div>
      <div class="w-1/2">
          <img src="/img/hero-pizza.png" alt="" >
      </div>
  </div>

</section>
<section class="menu container mx-auto py-8">
  <h1 class="text-xl font-bold mb-8">All Pizza</h1>
  <div class="grid grid-cols-4 col-gap-12 row-gap-16">
    <% pizzas.forEach(function(pizza){  %>
    <div class="w-64">
      <img src="/img/piz1.png" class="h-40 mb-2 mx-auto"" alt="">
      <div class="text-center">
        <h2 class="mb-2 txst-lg"> <%= pizza.name %> </h2>
        <span class="size px-1 py-1 rounded-full uppercase text-xs"><%= pizza.size %></span>
        <div class=" px-4 py-1  mt-2">
          <span class="font-bold text-lg"><%= pizza.price %></span>
          <button data-pizza="<%= JSON.stringify(pizza) %>" class="add-to-cart rounded-full py-1 px-6 items-center font-bold"
        
          >
            <span>
               + add 
            </span>
          </button>
        </div>
      </div>
    </div>
    <% } ) %>
  </div>
</section>